.nav-ul {
  margin-top: auto;
}
.nav-ul li {
  display: inline-block;
  padding: 1rem;
}
.nav-ul {
  padding: 1rem;
  background-color: #777;
}
.nav-ul .user-li {
  color: #fff;
}
.nav-ul li a {
  text-decoration: none;
  color: #fff;
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 98%;
  padding: 1rem;
  background-color: #777;
  color: #fff;
}
.signup {
  display: flex;
  flex-direction: column;
  margin-left: 60%;
  padding: 1rem;
}
.signup h2 {
  text-align: center;
}
.signup button {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  background-color: #777;
  color: #fff;
  border: 0;
}

.inputbox {
  padding: 1rem;
  margin: 1rem;
  width: 90%;
}
.nav-right {
  text-align: right;
}
