.nav-ul {
  margin-top: auto;
}
.nav-ul li {
  display: inline-block;
  padding: 1rem;
}
.nav-ul {
  padding: 1rem;
  background-color: #777;
}
.nav-ul .user-li {
  color: #fff;
}
.nav-ul li a {
  text-decoration: none;
  color: #fff;
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 98%;
  padding: 1rem;
  background-color: #777;
  color: #fff;
}
.signup {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-right: 30%;
  padding: 1rem;
}
.signup h2 {
  text-align: center;
}
.product h2 {
  text-align: center;
}
.signup button {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  background-color: #777;
  color: #fff;
  border: 0;
}

.inputbox {
  padding: 1rem;
  margin: 1rem;
  width: 90%;
}
.nav-right {
  text-align: right;
}
.product {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-right: 30%;
  padding: 1rem;
}
.product button {
  text-align: center;
  width: 96%;
  padding: 1rem;
  margin: 1rem;
  background-color: #777;
  color: #fff;
  border: 0;
}
.invalid-input {
  color: red;
  margin-left: 1rem;
  font-size: 12px;
}
.product-list {
  text-align: center;
  margin-top: 1rem;
}
.product-list ul li {
  display: inline-block;
  padding: 15px;
  width: 15%;
  border: 1px solid #777;
}
.product-list ul {
  margin: 0;
}
.heading li {
  background-color: rgba(119, 119, 119, 0.5);
}
